p{
    color:rgb(113, 226, 43);
}
article{color:red; font-style: italic;}
a{color: red;}
footer{background-color: white;}
.center {display: block;
margin-left: auto;
margin-right: auto;
width: 50%;}
img {
    border-radius: 50%;
    }
h1 {text-align: center; }
iframe {border-radius: 35%;}
